/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 700;
  background: url("../img/new-year-bg-min.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

main {
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.countdown__wrapper {
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}
.countdown__title {
  font-size: 4rem;
  margin-bottom: 6rem;
}
.countdown__timer {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.countdown__timer div {
  text-align: center;
  margin-right: 1rem;
}
.countdown__timer h2 {
  font-size: 5rem;
  text-shadow: 1px 1px 5px #fff;
}
.countdown__timer p {
  font-size: 1.5rem;
}
.countdown__next-year {
  font-size: 15rem;
  -webkit-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
          transform: translateY(-25%);
  opacity: 0.2;
}

@media (max-width: 768px) {
  .countdown__title {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .countdown__timer {
    font-size: 1rem;
  }
  .countdown__timer h2 {
    font-size: 4rem;
  }
  .countdown__timer p {
    font-size: 1rem;
  }
  .countdown__next-year {
    font-size: 11rem;
  }
}
@media (max-width: 480px) {
  .countdown__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .countdown__timer {
    font-size: 0.5rem;
  }
  .countdown__timer h2 {
    font-size: 2rem;
  }
  .countdown__timer p {
    font-size: 0.5rem;
  }
  .countdown__next-year {
    font-size: 7rem;
  }
}